@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @* <button class="nav-link btn btn-link" @onclick="BeginLogOut">[@context.User.Identity?.Name] Log out</button> *@
        @* <button @onclick="BeginLogOut">[@context.User.Identity?.Name]::Logout</button> *@
        <a class="login-link" href="MicrosoftIdentity/Account/SignOut">[@context.User.Identity?.Name]::Logout</a>
    </Authorized>
    <NotAuthorized>
        @* <a href="authentication/login">Login!</a> *@
        <a class="login-link" href="MicrosoftIdentity/Account/SignIn">Manage Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        //Navigation.NavigateToLogout("authentication/logout");
    }
}
